<div class="container">
    <table class="table">
      <tbody>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Email</th>
          <th>Address</th>
          <th>Contact</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.gender }}</td>
          <td>{{ customer.age }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.contact }}</td>
          <td>
            <button
              class="btn btn-primary"
              (click)="goToUpdateCustomer(customer.id)"
            >
              Edit
            </button>
            <button
              class="btn btn-secondary"
              (click)="goToViewCustomer(customer.id)"
            >
              View
            </button>
            <button
              class="btn btn-danger"
              (click)="goToDeleteCustomer(customer.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  